

body {
	font: 12px/18px "Helvetica Neue", "Lucida Grande", sans-serif;
	background: url(bgpattern.png);
}


a { color: #008ce5; text-decoration: none; display: inline-block; text-align: center; }

#wrap { width: 100%;}
.button {
	width: 128px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	text-shadow: 0 -1px 0 black;
	background: rgb(105,108,113);
	background: -moz-linear-gradient(top, rgba(105,108,113,1) 0%, rgba(48,52,60,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(105,108,113,1)), color-stop(100%,rgba(48,52,60,1)));
	background: -webkit-linear-gradient(top, rgba(105,108,113,1) 0%,rgba(48,52,60,1) 100%);
	background: -o-linear-gradient(top, rgba(105,108,113,1) 0%,rgba(48,52,60,1) 100%);
	background: -ms-linear-gradient(top, rgba(105,108,113,1) 0%,rgba(48,52,60,1) 100%);
	background: linear-gradient(top, rgba(105,108,113,1) 0%,rgba(48,52,60,1) 100%);
	border: 1px solid #000000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: white;
	-moz-box-shadow: 0px 5px 9px rgba(0,0,0,.6), inset 0 1px 0 #9ca1a8, 0 0 4px rgba(255, 255,255, .4);
	-webkit-box-shadow: 0px 5px 9px rgba(0,0,0,.6), inset 0 1px 0 #9ca1a8, 0 0 4px rgba(255, 255,255, .4);
	box-shadow:  0 0 4px rgba(255, 255,255, .4), 0px 5px 9px rgba(0,0,0,.6), inset 0 1px 0 #9ca1a8;
	opacity: .9;
	margin: 50px auto 50px;
	display: block;
	}

.overlay {
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 9000;
	background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.725) 100%);
	background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.725) 100%);
	overflow: hidden;
}
.wrap {
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	overflow-x: auto;
	overflow-y: scroll;
}

.outer {
	display: table;
	height: 100%;
	table-layout: fixed;
	width: 100%;

}
.inner {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
/*	padding: 30px 0;*/

}
.modal {
	z-index: 9001;
	position: relative;
	display: inline-block;
	outline: none;
}

.ie7 .outer {
	display: block;
	width: auto;
	position: relative;
}
.ie7 .inner {
	display: block;
	position: absolute;
	top: 50%;
}
.ie7 .modal {
	position: relative;
	top: -50%;
	display: inline;
	zoom: 1;
}


.login {
	background: white;
	width: 500px;
	height: 500px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 13px 23px rgba(0,0,0,.5);
	-moz-box-shadow: 0 13px 23px rgba(0,0,0,.5);
	box-shadow: 0 13px 23px rgba(0,0,0,.5);
	height: 300px;
}

.modal {
	display: none;
	-webkit-backface-visibility: hidden;
	-webkit-animation-duration: .3s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	opacity: 0;
}
.overlay {
	opacity: 0;
	-webkit-transition: opacity .2s ease-in-out;
}

.modal.appear {
	-webkit-animation-name: modalAppear;
}
.modal.exit {
	-webkit-animation-name: modalExit;
}
.overlay.appear {
	opacity: 1;
}
.overlay.exit {
	opacity: 0;
}
@-webkit-keyframes modalAppear {
	0% {
		opacity: 0;
		-webkit-transform: scale(.8);
		}
	85% {
		-webkit-transform: scale(1.06);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes modalExit {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	20% {
		-webkit-transform: scale(1.03);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
	}
}